/* .center-content{
    background-image: url('C:/Users/Lenovo/augmented/bg2.jpg'); /* Adjust the path based on your project structure */
    /* background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
    /* .search{
      width: 80%; /* Adjust the width as needed */
    /* max-width: 300px;
    align-items: center;
    margin-top: 250px;
    margin-left: 40%;
    } */
/* .upload-section {
    margin-top: 16px;
    padding: 16px;
    border: 2px dashed #ccc;
    text-align: center;
} */
/* .upload-section p {
    margin-bottom: 8px;
} */
/*.logo{
    width: 400px;
    height: 100px;
    font-size:30px;
    margin-left: 0px;
    color: palevioletred;
    font-family:fantasy;
}