.small-input {
    width: 40%;
    bottom: 0;
    right: 110px;
    position: fixed;
}

.small-enter-button-input {
    width: 5%;
    bottom: 0;
    right: 20px;
    position: fixed;
}

.small-upload-book-input {
    width: 10%;
    right: 0;
    position: fixed;
}

.small-fac {
    width: 20%;
    top: 30%;
    left: 88%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.document-input {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.chatlayout-input {
    width: 50%;
    height: 100vh;
    left: 0;
    overflow: hidden;
    background-color: gray;
}

.pdf-operators-prevpage-input {
    position: fixed;
    top: 28%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.pdf-operators-nextpage-input {
    position: fixed;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.pdf-operators-currpage-input {
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: black;
}

.ai-dialogue-input {
    position: fixed;
    left: 50%;
    height: 65%;
    width: 48%;
    outline-color: green;
    outline-style: dotted;
    outline-width: 3px;
}