.small-input {
    width: 45%;
    bottom: 750px;
    right: 120px;
    position: fixed;
}

.summarize-btn-input {
    width: 43%;
    bottom: 700px;
    right: 140px;
    position: fixed;
}

.logo3{
    width: 450px;
    height: 75px;
    font-size:30px;
    margin-left: 0px;
    color: palevioletred;
    font-family:fantasy;
}